.header {
   display: flex;
   z-index: 1;
   position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
}

body {
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
}

a {
  color: seashell;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  }

.navigation {
display: flex;
justify-content: flex-end;

}

.Missionpic {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  padding-top: 40px;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-size: cover;
}

.black-bground1 {

  text-align: center;
 padding-left: 500px;
 background-color: black;
}

.black-bground2 {
  text-align: center;
height: 77px;
padding-right: 500px;
background-color: black;
}
